body
{
  background-color: #66c3c8;
  overflow: hidden;
}

body .body-scroll
{
  overflow-y: auto;
}

h1
{
  color: #fffffc;
  font-size: 72pt;
  font-family: 'Exo', sans-serif;
}

h2
{
  color: #fffffc;
  font-size: 64pt;
  font-family: 'Exo', sans-serif;
}

p
{
  color: #fffffc;
  font-size: 24pt;
  font-family: 'Exo', sans-serif;
}

a
{
  font-family: 'Exo', sans-serif;
}

.flex-container
{
  min-width: 100vw;
  min-height : 100vh;
  display: flex;
  display: -webkit-flex; /* For Safari */
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  /*justify-content: space-between;*/
  /*-webkit-justify-content: space-between;*/

  margin: auto;
  text-align: center;
}

/*Page settings*/

#pages
{
  display: table;
  position: fixed;
  /*overflow: auto;*/
  left: 0px;
  top: 0px;

  /*flex-direction: row;*/
  /*flex-wrap: nowrap;*/
  /*justify-content: flex-start;*/
}

.page
{
  display: table-cell;
  margin: auto;
  min-width: 100vw;
  min-height: 100vh;
}

/*Navbar settings*/
.navbar-default
{
  order: 0;
}

.navbar a
{
  font-size: 14pt;
}

.vcenter
{
  order: 1;
  margin: auto;
}

.hcenter
{
  align-self: center;
  text-align: center;
}

.row
{
  order: 1;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

/*Row used for top header text on page*/
.row-header
{
  order: 1;
  background-color: #a83220;
  margin-top: 5%;
  padding: 0;
  align-self: stretch;
  text-align: center;
}

/*Classes for project container*/
.projects-container
{
  order: 1;
  padding-top: 5%;
  align-items: center;
  -webkit-align-items: center;
  width: 80%;
  /*background-color: black;*/
}

.projects-container img
{
  margin: 5%;
}

/*Banner image for the home screen*/
#name-banner
{
  background-image: url("assets/assets_banner.png");
  padding-bottom: 13%;
  background-repeat: no-repeat;
  background-size: contain;
}

/*Text for name on banner image*/
#name-text
{
  padding-top: 1%;
  font-weight: 700;
}

/*Selectors for coding and design page peeking*/

#page-cover
{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  z-index: 98;
}

.peek-from-bottom
{
  order: 99;
  z-index: 99;
}

#peek-prompt
{
  opacity: 0;
}

#peek-item
{
  margin-top: 8%;
}
