body
{
  background-color: #66c3c8;
}

h1
{
  color: #fffffc;
  font-size: 72pt;
  font-family: 'Exo', sans-serif;
}

a
{
  font-family: 'Exo', sans-serif;
}

.flex-container
{
  display: flex;
  margin: auto;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: -webkit-flex; /* For Safari */
  -webkit align-items: flex;
}

.navbar-default
{
  order: 0;
}

.navbar a
{
  font-size: 14pt;
}

.vcenter
{
  order: 1;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.hcenter
{
  align-self: center;
  text-align: center;
}

/*The banner image for the home screen*/
#name-banner
{
  background-image: url("assets/assets_banner.png");
  padding-bottom: 13%;
  background-repeat: no-repeat;
  background-size: contain;
}

#name-text
{
  padding-top: 1%;
  font-weight: 700;
}

#img-designer
{
  width: 100%;
  height: 100%;
}

/*Row used for top header text on page*/
.row-header
{
  order: 1;
  background-color: #a83220;
  margin-top: 4%;
  align-self: stretch;
  text-align: center;
}
